{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="cover-most-screen row align-items-center">
        <div class="col-sm">
            <img src="{% static 'assets/images/facebooklogo.svg' %}" alt="facebooklogo">
            <h2>
                Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.
            </h2>
        </div>
        <div class="col-sm">
            FORM
        </div>
    </div>
{% endblock %}